*{
    margin: 0px;
    padding: 0px;
}
    

/* css for modal  */
.modal_parent{
    height: 100vh;
    width:100%;
    position: fixed;
    background-color: rgba(255, 0, 0, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.model{
    height: 90vh;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
.model_img{
    height:100%;
    width:40%;
    background-color: purple;
    display: flex;
    overflow: hidden;

}
.model_details{
    /* height: 200px; */
    width: 60%;
    background-color: pink;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.details>div{
    width: 30%;
    margin-bottom: 5px;
}
.connection .details div{
    width:45%;
}
.details_title{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
    font-weight: bold;
    color:rgb(78, 112, 184);
}
.property{
    font-size: 16px;
    color:gray;
    font-weight: normal;
}
.value{ 
    font-weight: bold;
    font-size: 17px;
}


.main{
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
    
    /* Gradient background code  */
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );

}

 
/*  css for filters  */
.filters{
    padding-top: 30px;
    padding-bottom: 30px;  
    background-color: rgb(164 117 33 / 1);
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
} 
label{
    margin-bottom: 5px;
}

.filter_field{
    font-size: 18px;
    color: white;
    height: 25px;
    width: 300px;
    /* margin-left: 20px; */
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(164 117 33 / 1);
    outline: none;
    text-indent: 20px;
    width: 100%;    
} 
.filter_fields{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.field_container{
    display: flex;
    flex-direction: column;
    width:30%;

}
.filter_name_field{
    font-size: 18px;
    color: white;
    height: 25px;
    width: 100%;
    /* margin-left: 20px; */
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(164 117 33 / 1);
    outline: none;
    text-indent: 20px;
}
.filter_btn{
    margin-top: 12px;
}
.apply_btn{
    font-size: 14px;
    height: 35px;
    width: 100px;
    border-radius:8px;
    background-color: white;
    outline: none;
    border:none;
}
.btn{
    font-size: 14px;
    height: 35px;
    width: 100px;
    border: 1px solid white;
    border-radius:8px;
    background-color: white;
    outline: none;
       
    cursor: pointer;
}
.btn:active{
    border: 1px solid white;
    color: rgb(164 117 33 / 1);
    background-color: transparent;
}

.container{
    padding: 50px 10px;
    width: 80%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
} 
.superheroes{
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: red; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
.superhero{
    width: 22%;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 30px;
}
.superhero_img{
    height: 350px;
    width: 100%;
    /* background-color: yellow; */
    overflow: hidden;
}
.img{
    width: 100%;
}

.superhero_details{
    /* height:200px; */
    width: 100%;
    padding: 5px 5px;
    /* background-color: blue;  */
}
.powerstats{
    margin-top: 15px;
    
}
.powerstats > p{
    padding: 5px 0px;
}
.bodystats{
    margin-top: 10px;
    margin-bottom: 10px;
}
.power_bg{
    width: 95%;
    height: 10px;
    background-color:rgb(240, 181, 215);
    margin-top: 5px;
}
.power_fg{
    height: 10px;
    background-color: red;
    margin-top: 5px;
}